#version: '3'
services:
  tarot-web:
    build: .
    container_name: tarot-app
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
